.notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid grey;
    width: 100%;

}
/* .card-body{
    width: 600px;
    height: 500px;
   
 } */
.JsForm{
    width: 500px;
    height: 700px;
}
pre{
    /* display: block;
    font-family: monospace;
    border: 1px solid grey;
     width: 600px; */
    /* height: 500px;  */
    padding: 2px;
     margin: 1px;
     white-space: pre-wrap;
     color: white;
     background-color: grey
}

.react-notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.card-body{
    width: 50%;
    border: 1px solid black;
    display: block;
    margin: 0 auto;

}

h1{
 
   text-align: center;
}
.react-snippet{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    padding: 1px;
    overflow: auto;
    position: relative
}
.ui.card{
    -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,1) !important;
-moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,1) !important;
box-shadow: 4px 4px 3px 0px rgba(0,0,0,1) !important; 
border-radius: 5% !important;
height: 200px !important;
}
.modal-test{
    width: 50% !important;
    height: 50% !important;
}
h3{
    font-family: "Aclonica";
    color: black;
    font-style: italic !important;
    font-size: 30px !important;
}
h1{
    font-family: "Aclonica";
    color: white;
    font-style: italic !important;
    font-size: 50px !important;
}
.modal-test{
    background-color: aquamarine !important
}
p{
    border: 2px solid grey;
    height: 100px;
    background-color: black;
    color: white;
    font-family: "Aclonica";
    font-size: 18px
}
.card{
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%); ;
}