.notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid grey;
    width: 100%;

}
.card-body{
    width: 600px;
    height: 500px;
   
 }
.JsForm{
    width: 500px;
    height: 700px;
}
pre{
    display: block;
    font-family: monospace;
    border: 1px solid grey;
     width: 600px;
    /* height: 500px;  */
    padding: 20px;
     margin: 1px;
     white-space: pre-wrap;
     color: white;
     background-color: grey
}

.react-notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.card-body{
    width: 100%;
    border: 1px solid lightgray;
}

h1{
   color: #3b5998 ;
   text-align: center;
}
.react-snippet{
    width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    padding: 10px;
    overflow: auto;
    position: relative
} 
 