.notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid grey;
    width: 100%;

}
/* .card-body{
    width: 600px;
    height: 500px;
   
 } */
.JsForm{
    width: 500px;
    height: 700px;
}
pre{
    /* display: block;
    font-family: monospace;
    border: 1px solid grey;
     width: 600px; */
    /* height: 500px;  */
    padding: 2px;
     margin: 1px;
     white-space: pre-wrap;
     color: white;
     background-color: grey
}

.react-notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.card-body{
    width: 50%;
    border: 1px solid black;
    display: block;
    margin: 0 auto;

}

h1{
 
   text-align: center;
}
.react-snippet{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    padding: 1px;
    overflow: auto;
    position: relative
}
.ui.card{
    -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,1) !important;
-moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,1) !important;
box-shadow: 4px 4px 3px 0px rgba(0,0,0,1) !important; 
/* background-color: red !important */
}
.modal-test{
    width: 50% !important;
    height: 50% !important;
}