/* .notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid grey;
    width: 100%;

}
.card-body{
    width: 500px;
}
.JsForm{
    width: 500px;
    height: 700px;
    border: 1px solid grey 
    justify-items: center
}
pre{
    display: block;
    font-family: monospace;
    border: 1px solid grey;
    width: 462px;
    height: 100px;
    padding: 20px;
     margin: 1px;
     white-space: pre-wrap;
     color: white;
      background-color: grey 
}

.Js-notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}
.card-body{
    width: 500px;
    border: 1px solid lightgray
}
.snippet{
 display: block;
    font-family: monospace;
    white-space: pre-wrap;
    margin: 1em 1; 
    color: white;
    background-color: black

}
.form-control{
    background-color: lightgray
} */