/* add css styles here (optional) */

.test {
    width: 100%;
}




.navbar{
    background-image: linear-gradient(#D3D3D3);
    position: sticky
}
.image-nav{
    width: 100px;
    border-radius: 100%
}
